@media only screen and (max-width: 767px) {
	.holzButtonNav{
		display: none;
	}
	.mainContainerMainSiteMobile
	{
		display: block;
		padding-top: 15%;
		text-align: center;
		color:white;
		font-weight: bold;
		font-size: 18px;
	}
	.mainContainerMainSite{display: none;}
}
@media only screen and (min-width: 767px) {
	.mainContainerMainSiteMobile{display: none;}
	.mainContainerMainSite
	{
		display: block;
		padding-top: 5%;
		padding-left: 5%;
		text-align: left;
		color:white;
		font-weight: bold;
		font-size: 32px;
	}
}

@media only screen and (min-width: 768px) {
	.holzButtonNavArrow{
		display: none;
	}
}
*{
	font-family: 'PT Sans', sans-serif;
}
.item{
	height:100%;
}
.note{
	background-image: url('images/paper2.png');
	background-size: cover;
	background-repeat: no-repeat;
	width:360px;
	height: 175px;
	position: absolute;
	left:5%;
	bottom:8%;
	color:black;
	font-size: 12px;
	padding-top: 12px;
	padding-left: 14px;
}
.carousel-inner{
	overflow-x: hidden; /* prevent scroll apearing when changing picture */
    overflow-y: visible; /* overwride overflow-y hidden rule from bootstrap */
}
.holzButton{
	width: 150px;
	height: 30px;
	background-color: #07162D;
	border: 1px solid #07162D;
	transition: background-color .4s, color .4s;
	font-size: 16px;
	color:white;
}
.holzButton:hover{
	background-color: white;
	color: #07162D;
}
.holzButtonNav{
	font-weight: bold;
	width: 150px;
	height: 30px;
	max-width: 300px;
	max-height: 300px;
	background-color: #FFFDFD;
	border: 1px solid #FFFDFD;
	transition: background-color .4s, color .4s;
	font-size: 16px;
}
.holzButtonNav:hover{
	color: #FFFDFD;
	background-color: #07162D;
}
.holzButtonNavSmall{
	font-weight: bold;
	width: 150px;
	height: 30px;
	max-width: 300px;
	max-height: 300px;
	color: #FFFDFD;
	background-color: #07162D;
	border: 1px solid #07162D;
	transition: background-color .4s, color .4s;
	font-size: 16px;
}
.holzButtonNavSmall:hover{
	color: #07162D;
	background-color: #FFFDFD;
}
.holzButtonNavArrow{
	width:40px;
	height:40px;
	border-radius: 60px;
	text-align: center;
	padding-top: 12px;
	background-color: #FFFDFD; 
	position: absolute;
	right: 20px;
	top: 4px;
}
label{
	color: #07162D;
}
.form-control{
	border-color: #07162D !important;
}

.carousel-indicators{
	margin-bottom:3%;
}
#zalozKontoSubmit{
	width:150px !important;
}
.mainImage{
    height: 100%;
}
.modal-header, h4{
	background-color: #07162D !important;
}
/*Rejestracja*/
.FirstImageCarousel{
	width:100%;
	min-height: 100%;
	background-image: url('images/school.png'); /* Background pattern from Subtle Patterns */
	background-repeat: repeat;
}
/*Glowna*/
.SecondImageCarousel{
	width:100%;
	min-height: 100%;
    background-image: url('images/desk.jpg'); /* Background pattern from Subtle Patterns */
	background-size: cover;
}
/*Kontakt*/
.ThirdImageCarousel{
	width:100%;
	min-height: 100%;
	background-image: url('images/ignasi.png'); /* Background pattern from Subtle Patterns */
	background-repeat: repeat;
}

.navbar{
	position: fixed;
	width:100%;
	bottom:0;
	z-index: 1;
	margin-bottom: 0;
	margin-top: 0;
	background-color:rgb(7,22,45);
	height: 40px;
}
.mainImage > div{
	margin-top: 0;
	font-size: 40px;
}
.menuSmallNavMobile{
	bottom:40px !important;
}
#menuSmallNav{
	position: absolute;
	bottom:0px;
	right:0;
	width:165px;
	height: 150px;
	z-index: 1;
}
.logo{
	position:absolute;
	left:40px;
	top: 4px;
	color:white;
	font-weight:bold;
	font-size:30px;
	letter-spacing:5px;
	text-decoration: none;
	transition: color .4s;
}
.logo:hover{
	color: #E5E3E3;
	cursor: pointer;
}
.message{
	width:300px;
	height:200px;
	background-color: rgb(7,22,45);
	color:white;
	font-weight:bold;
	font-size:20px;
	text-align: center;
	position:absolute;
	bottom:0;
	margin-bottom: 3%;
	border-radius: 5px;
}
.messageWatch{
	position:absolute;
	left:250px;
	display: none;
}
.messageHand{
	position:absolute;
	left:360px;
	display: none;
}
.messageEdit{
	position:absolute;
	left:470px;
	display: none;
}
.icon{
	margin-top: 3px;
	width:3%;
	height:90%;
	margin-left: 60px;
}
.btnIndex{
	position: absolute;
	width:600px;
	height:200px;
	font-size: 70px;
	font-weight: bold;
	text-align: center;	
	background-color: rgba(7,22,45,0.2) !important;
	color: white;
	border-color: white;
	border-radius:5px;
	border-width: 6px;
	transition:0.5s;
	top:250;
	right:100;
	opacity: 0;
}
button.btnIndex:hover{
	background-color: rgba(7,22,45,0.96) !important;
	color: white;
	transition: 0.3s; 
}
.btn-nav{
	margin:10px 20px 20px 0;
}
.modal-header, h4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
}
.modal-footer {
    background-color: #f9f9f9;
}
.textIndex{
	opacity:0;
	font-size: 40px;
	color: white;
}
.textIndexWithin{
	font-size: 25px;
}
.clicked {
     background-color: #07162d !important;
     opacity:0.86;
     transition:0.5s;
}
.container{
	width:100%;
}
.divFormRejestracja{
	font-size: 20px;
	color:white;
	font-weight: bold;
	letter-spacing: 1px;
	margin-left:20%;
}
.divFormRejestracja  input{
	width:600px;
}
.divFormKontakt {
	font-size: 30px;
	color:white;
	font-weight: bold;
	letter-spacing: 1px;

}	
.formRegister{
	width:100vw;
	max-width: 300px;
	padding-bottom: 80px;
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
}
