*{
	font-family: 'PT Sans', sans-serif;
	margin:0;
}
body{
	margin-top: -20px; /* Im sick of this bug rly have no idea what causes this 20px shift*/
	font-size:16px;
	background: #252833;
	color:white;
	background-image: url('images/bgs/horns.png'); /* Background pattern from Subtle Patterns */
	background-repeat: repeat;
}
ul {
  list-style-type: none;
}

table *{
	padding:2px;
}
.smsExtMain{
	margin-left: 20%;
	width:75%;
}
.glyphicon-question-sign{
	font-size:22px;
}
.glyphicon{
	margin-right: 8px;
}

.smsMainContentBox{

	display: flex;
}

.holzButton{
	width: 100%;
	max-width: 100%;
	height: 65px;
	background-color: #07162D;
	border: 1px solid #07162D;
	transition: background-color .4s, color .4s;
	font-size: 16px;
	color:white;
}

.holzButton:hover{
	background-color: white;
	color: #07162D;
}
.holzButtonSmall:hover a{
	color: #07162D;
}
.holzButtonSmall a{
	color: white;
}

.holzButtonSmall{
	color:white;
	font-weight: bold;
	width: 150px;
	height: 30px;
	max-width: 300px;
	max-height: 300px;
	background-color: #07162D;
	border: 1px solid #07162D;
	transition: background-color .4s, color .4s;
	font-size: 16px;
}
.holzButtonSmall:hover{
	color: #07162D;
	background-color: #FFFDFD;
}

.plate{
	margin-left:auto;
	margin-right:auto;
	background-color: #031023;
    border-radius: 2px;
    padding: 4px;
}

.fillClassInfo{
	width:30px;
	height:30px;
	background: #f6f6f6;
	box-shadow: 0 0 2px 2px #e4e4e4;
	position:absolute;
	right:10px;
	cursor:help
}

#info-fillclass{
	width:300px;
	display: none;
	position:absolute;
	top: -80px;
	right:35px;
	background: #f6f6f6;
	box-shadow: 0 0 2px 2px #e4e4e4;
  	padding:6px;
  	font-size: 14px;
}

#info-sign-fillclass{
	margin-top: 3px;
	margin-left: 4px;
}
.addStudentInfo{
	width:30px;
	height:30px;
	background: #f6f6f6;
	box-shadow: 0 0 2px 2px #e4e4e4;
	position:absolute;
	bottom:45px;
	right:55px;
	cursor:help
}

#info-addStudent{
	width:300px;
	display: none;
	position:absolute;
	top:-100px;
	right:35px;
	font-size:14px;
	background: #f6f6f6;
	box-shadow: 0 0 2px 2px #e4e4e4;
  	padding:6px;
}

#info-sign-addStudent{
	margin-top: 3px;
	margin-left: 4px;
}

#info-sign-optymalizuj{
	position:absolute;
	top:120px;
	left:160px;
	cursor:help
}

#info-optymalizuj{
	width:300px;
	display: none;
	position:absolute;
	top:-20px;
	left:35px;
	font-size:14px;
	background: #f6f6f6;
	box-shadow: 0 0 2px 2px #e4e4e4;
  	padding:6px;
}

.form-control{
	width:auto !important;
	display:inline-block;
}

.formAddStudent{
	margin-left: auto;
	margin-right: auto;
	width:550px;
	color: black;
    margin-top: 40px;
}

.deleteClass{
	cursor:pointer;
	display: inline-block;
	border:none;
	margin-left: 20%;
	padding:5px;
}

.deleteClass *{
	border:none;
}

.optionContainer{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width:800px;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
}

.tableHeader{
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	background-color: #454853;
}

.innerKlasyTable td{
	background: #07162D;
	border-bottom: 1px solid white;
	transition: background-color .4s, color .4s;
}
.innerKlasyTable tr:hover td{
	background-color: white;
	color: #07162D;
}
.innerKlasyTable tr:hover a{
	color: #07162D;
}
.innerKlasyTable a{
	color:white;
}
.uczniowieSectionWrapper{
	transition: background-color .4s, color .4s;
}
.uczniowieSectionWrapper:hover{
	background-color: white;
	color: #07162D;
}
.uczniowieSectionWrapper:hover a{
	color: #07162D;
}

#SMS-menu.navbar-default .navbar-brand {
	color: rgba(214, 192, 192, 1);
}
#SMS-menu.navbar-default {
	left:-47px;
    font-size: 14px;
    background-color: rgba(67, 72, 87, 0);
    border-width: 0px;
    border-radius: 7px;
}

#SMS-menu.navbar-default .navbar-nav>li>a {
	width:300px;
	border-radius: 2%;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(67, 72, 87, 0);
	margin-top: 5px;
	text-align: center;
}

.menuLeft{
	position: fixed;
	top:0;
	left:0;
	background: #07162D;
	max-width:15%;
	overflow-y:auto;
	overflow-x:hidden;
	height:100%;
}

.topBar{
	text-align: center;
	font-size: 20px;
	margin-top: 40px;
	min-width: 940px;
	color:white;
	background-color: #07162D;
	border-radius: 2px;
	padding-left: 20px;
}
.topBar h2{
	text-transform: uppercase;
}

.tableNazwaklasy{
	width:88%;
}

.tableIcon{
	width:12%;
}

.klasyTop{
	background: #031023;
	width: 396px;
	height: 30px;
	font-size:22px;
	font-weight: bold;
	padding-left:170px;
}

.innerKlasy{
	background: #07162D;
	width: 396px;
	height: 540px;
	overflow-y: auto;
	overflow-x: auto;
}

.innerKlasyTable {
	width:100%;
}

.kopiaTop{
	background: #e6e6e6;
	box-shadow: 0 0 2px 2px #e4e4e4;
	margin-top: 0px;
	width: 300px;
	height: 30px;
	font-size:16px;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
}

.innerKopia{
	background: #f6f6f6;
	box-shadow: 0 0 2px 2px #e4e4e4;
	width: 300px;
	height: 372px;
	margin-bottom: 15px;
	overflow-y: auto;
	overflow-x: auto;
}

#btn-safe-delete-class-yes{
	display: inline-block;
	width:auto;
	margin-right: 120px !important;
	margin-top: 60px;
}

#btn-safe-delete-class-no{
	display: inline-block;
	width:auto;
	margin-right: 0 !important;
	margin-top: 60px;
}

hr.style-four {
	height: 3px;
	border: 0;
	background: #434857;
	box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
	width:100%;
}
.modal{
	color:black;
}
.modal h4 span{
	margin-right:40px;
}
.modal-body-custom{
	height: 500px;
}
#paragraphSafeDeleteClass{
	font-size: 24px;
}
.modal-body-custom-delete-class{
	height: 260px;
}
.importFile{
	margin: auto;
	width: 500px;
	padding: 20px;
	margin-top: 50px;
	font-weight: bold;
	background: #f6f6f6;
	box-shadow: 0 0 2px 2px #e4e4e4;
}
.importFile > p{
	margin-top: -20px;
	margin-bottom: 15px;
}
.innerLabel {
	width:170px;
	text-align: right;
	display:inline-block;
}
.innerInput {
	display:inline-block;
}
.ulicadom{
	text-align: left;
	width:70%;
	float:right;
}
.btn{
	margin-right: 20%;
}
input{
	margin-bottom: 1%;
	margin-right: 2px;
}

.centerOption{
	height: 70px;
	padding-top: 20px;
	border-radius: 12px;
	border:2px solid white;
	background-color: #30343E;
	margin-right: auto;
	margin-left: auto;
	width:350px;
	display: inline-block;
	margin-top: 20px;
}

.centerMenu{
	margin-top: 40px;
}

.centerMenu a{
	font-weight: bold;
	color:white;
}
/*sms simple css*/
#Subjects {
    width: 497px;
    height: 400px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.element{
	width: 487px;
	margin-left: -5px;
	margin-top: 3px;
	color: transparent;
	 font-size: 1em;
    text-shadow: 0 0 0 black;
	background-color: #ccc;
	-webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    text-align: center;
    cursor: move;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px #000;
    -ms-box-shadow: inset 0 0 3px #000;
    box-shadow: inset 0 0 3px #000;
}

.element.over {
  border: 2px dashed #000;
}
/*Smsm simple css END*/

.outerKopieIstniejace{
	float: left;
	width:300px;
}
.outerIleKopii{
	font-size: 15px;
	border-style: solid;
	border-width: 1px;
	border-color: #d3d3d3;
	border-top: none;
	border-left: none;
	border-right: none;
	float: left;
	margin-left: 20px;
	margin-bottom: 30px;
	width:170px;
}

.outerDodajKopie{
	background: #f6f6f6;
	box-shadow: 0 0 2px 2px #e4e4e4;
	float: left;
	padding-left: 10px;
	padding-bottom: 20px;
	padding-top: 15px;
	margin-left: 20px;
	margin-bottom: 20px;
	width:170px;
}

.UsunKopieButt{
	font-weight: bold;
	padding:4px;
	font-size: 14px;
	text-align: center;
	width:80px;
}

.selectUsunKopie{
	width:120px;
	text-align: center;
	margin-left: 15px;
	margin-top: 15px;
}

.DodajKopieButt{
	font-weight: bold;
	padding:4px;
	font-size: 16px;
}

.DodajKopieButt span{
	margin-right: 8px;
}

#print-bar{

	background-color: rgb(48,52,62);
}

.uczniowieOuterTable{
	height: 520px;
	width:500px ;
	overflow-y: auto;
}

.uczniowieTop{
	display: flex;
	background: #031023;
	height: 25px;
}

.uczniowieTop > div{
	flex:1;
	text-align: center;
}

.innerUczniowieSection{
	display:flex;
	flex-direction:column;
}

.innerUczniowieSection > div{
	flex:1;
	text-align: center;
}

.uczniowieSectionWrapper{
	display:flex;
	flex-direction:row;
	border-bottom:1px solid white;

}

.uczniowieSectionWrapper > div{
	flex:1;
	text-align: center;
}

.uczniowieOuterDiv{
	background: #07162D;
}

.hidden{
	display: none;
}
.error{
	display:none;
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	color: #D8000C;
	background-color: #FFBABA;
}
