*{
	font-family: 'PT Sans', sans-serif;
	margin:0;
}
body{
	background-image: url('images/bgs/horns.png'); /* Background pattern from Subtle Patterns */
	background-repeat: repeat;
}
table *{
	color:white !important; /* overwrite style for printing */
	padding:2px;
}
Table td{
	background: #07162D;
	border-bottom: 1px solid white;
	transition: background-color .4s, color .4s;
}
Table tr:hover td{
	background-color: white;
	color: #07162D !important;
}
Table tr:hover a{
	color: #07162D !important;
}
Table a{
	color:white;
}
.options{
	position: fixed;
	bottom:20px;
	right: 20px;
	border-radius: 10px;
	width: 200px;
	height: 100px;
	padding: 20px;
	opacity: 0.3;
	transition: opacity .4s;
	background: #f6f6f6;
	box-shadow: 0 0 2px 2px #e4e4e4;
}
.options:hover{
	opacity:1;
}
.holzButtonSmall{
	color:white;
	font-weight: bold;
	width: 155px;
	height: 30px;
	max-width: 300px;
	max-height: 300px;
	background-color: #07162D;
	border: 1px solid #07162D;
	transition: background-color .4s, color .4s;
	font-size: 12px;
}
.holzButtonSmall:hover{
	color: #07162D;
	background-color: #FFFDFD;
}
.holzButtonSmall:hover a{
	color: #07162D;
}
.holzButtonSmall a{
	color: white;
}
.options button{
	margin-left:25px;
}
#info-optymalizuj{
	width:180px;
	display: none;
	position:fixed;
	bottom:180px;
	right:35px;
	font-size:14px;
	background: #f6f6f6;
	box-shadow: 0 0 2px 2px #e4e4e4;
  	padding:6px;
}
.smsMainContentBox{

	display: flex;
}
.plate{
	margin-left:auto;
	margin-right:auto;
	background-color: #031023;
    border-radius: 2px;
    padding: 4px;
}
