{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Wszyscy uczniowie</title>
	<link rel="stylesheet" href="{% static '/smscss.css' %}">
	<link rel="shortcut icon" type="image/png" href="{% static '/images/favicon.ico' %}"/>
</head>
<body>
	<table >
		<tr>
			{% for every in headerTable %}
				<td>{{ every }}</td>
			{% endfor %}
		</tr>
		{% for student in allStudents %}
			<tr>
				{% for info in student%}
					<td>{{ info }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</table>
</body>
</html>