{% load staticfiles %}
<html>
<head>
<title>{{ section.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="shortcut icon" type="image/png" href="{% static '/images/favicon.ico' %}"/>
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- <script type="text/javascript" src="{% static '/platJS.js' %}"></script> -->
  <link rel="stylesheet" type="text/css" href="{% static '/indexcss.css' %}" />
 
{% block title %}{{ section.title }}{% endblock %}
</head>
<body>
<div id="menuSmallNav" class="menuSmallNavMobile" style="color:white;">
  <div>
  	{% if not user.is_authenticated %}
    <button class="holzButtonNavSmall" id="rejestracja" href="#myCarousel" data-slide-to="0">Rejestracja</button>
	{% endif %}
  </div>
  <div>
    <button class="holzButtonNavSmall" href="#myCarousel" data-slide-to="2">Kontakt</button>
  </div>
  <div>
    {% if not user.is_authenticated %}
	<button class="holzButtonNavSmall myBtn" type="button">Zaloguj</button>
    {% else %}
    <button class="holzButtonNavSmall" type="button" onclick="window.location.href='/SMS/extended/'">SMS</button>
    <button class="holzButtonNavSmall" type="button" onclick="window.location.href='/logout'">Wyloguj</button>
	{% endif %}  
  </div>
</div>
<nav class="navbar">
		<span href="#myCarousel" data-slide-to="1" class="logo">
			SMS
		</span>
	<div class="pull-right btn-nav">
		{% if not user.is_authenticated %}
		<button class="holzButtonNav" id="rejestracja" href="#myCarousel" data-slide-to="0">Rejestracja</button>
		{% endif %}
    	<button class="holzButtonNav" href="#myCarousel" data-slide-to="2">Kontakt</button>
    	{% if not user.is_authenticated %}
			<button class="holzButtonNav myBtn" type="button">Zaloguj</button>
    	{% else %}
		<button class="holzButtonNav" type="button" onclick="window.location.href='/SMS/extended/'">SMS</button>    
    	<button class="holzButtonNav" type="button" onclick="window.location.href='/logout'">Wyloguj</button>
		{% endif %}
    	<div id="menuArrowNav" class="holzButtonNavArrow"><span class="glyphicon glyphicon-menu-up"></span></div>
	</div>	
</nav>

<div>

{% block content %}
  
{% endblock %}
</div>
 <!-- Modal logowania -->
  <div class="modal fade" id="ModalRejestracja" role="dialog">
   <div class="modal-dialog">
      <!-- Modal content-->
    <div class="modal-content">
     <div class="modal-header" style="padding:35px 50px;">
       <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
     </div>
     <div class="modal-body" class="form-horizontal" style="padding:40px 50px;">
      <form role="form" action="/" method="POST">{% csrf_token %}
         {% for field in instanceL %}
         {% if field.errors%}
         <div class="form-group has-error has-feedback">
          <label for="usrname"><span class="glyphicon glyphicon-user"></span> {{field.label_tag}}</label>
          {{field}}
          <span class="glyphicon glyphicon-remove form-control-feedback"></span>  
          {% for error in field.errors %}
          <label class="control-label" for="inputError">{{ error|escape }}</label></br>
          {% endfor %}
         </div>
         {% else %}
         <div class="form-group has-success has-feedback">
          <label for="usrname"><span class="glyphicon glyphicon-user"></span> {{field.label_tag}}</label>
          {{field}}
         </div>
         {% endif %}
         {% endfor %}
        <div class="checkbox">
          <label style="color:black" ><input type="checkbox" checked>Zapamietaj mnie</label>
        </div>
        <button type="submit" class="holzButton" name="zaloguj" value="zaloguj">Zaloguj</button>
      </form>
     </div>
     <div class="modal-footer">
      <button type="submit" class="holzButton pull-left" data-dismiss="modal">Zamknij</button>
      <p>Nie posiadasz konta ? <a href="#" id="rejestracja" class="loginBtnRejestracja">Rejestracja</a></p>
      <p>Zapomniałeś hasła ? <a href="#" id="remember">Przypomnij hasło</a></p>
     </div>
   </div>
  </div>
 </div> 

<!-- Modal wyswitlany po prośbie uzytkownika o zmiane hasła -->
<div class="modal fade" id="ModalRemember" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Przypomnienie hasła</h4>
      </div>
      <div class="modal-body">
       <p>Podaj adres email na który zarejestrowane jest konto, zostanie na niego wysłana wiadomość</p>
        <form role="form" action="/remind" method="GET">{% csrf_token %}
        {{instanceC.email}}
        
      </div>
      <div class="modal-footer">
        <button type="button" class="holzButton" data-dismiss="modal">Zamknij</button>
        <input type="submit" class="holzButton" value="Wyślij">
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal zmiany hasła -->
<div class="modal fade" id="ChangePass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Zmień swoje hasło</h4>
      </div>
      
      <div class="modal-body">
      
          <form method="POST" action='/' enctype='multipart/form-data' >
              
                {% csrf_token %}
                {% for field in incanceP %}
                  {% if field.errors %}
                  <div class="form-group has-error has-feedback">
                    {{field.label_tag }}
                      {{field}}
                      <span class="glyphicon glyphicon-remove form-control-feedback"></span>  
                        {% for error in field.errors %}
                            <label class=" control-label" for="inputError">{{ error|escape }}</label>
                        {% endfor %}
                    {% else %}  
                    <div class="form-group has-success has-feedback">
                    {{field.label_tag }}
                      {{field}}
                  {% endif %}                    
                  </div>
                {% endfor %}

          
        
      </div>
      
      <div class="modal-footer">
        <button type="button" class="holzButton" data-dismiss="modal">Zamknij</button>
        <input type="submit" name="changepass" class="holzButton" value="Zmień hasło">
      </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal wyswietlajacy informacje o wyslaniu e-maila po rejestracji -->
<div class="modal fade" id="ModalConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalConfirm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Rejestracja udana</h4>
      </div>
      <div class="modal-body">
       <p><strong>Na podany adres email zotsała wysłana wiadomość.</strong></p>
       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal wyswietlajacy informacje o wyslaniu e-maila po rejestracji -->
<div class="modal fade" id="ModalConfirmChangePassword" tabindex="-1" role="dialog" aria-labelledby="myModalConfirm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Zmiana hasła udana</h4>
      </div>
      <div class="modal-body">
       <p><strong>Spróbuj się teraz zalogować nowym hasłem.</strong></p>
       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal wyswietlajacy informacje o wyslaniu e-maila po rejestracji -->
<div class="modal fade" id="ModalEmailSendPwChange" tabindex="-1" role="dialog" aria-labelledby="myModalConfirm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sukces</h4>
      </div>
      <div class="modal-body">
       <p><strong>Na podany adress email została wysłana wiadomość z instrukcjami przywrócenia hasła.</strong></p>
       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% if instanceL.haslo.errors%}
 <script type="text/javascript">
       $("#ModalRejestracja").modal({show: true});
</script>
{% endif %}
{% if isregister %}
 <script type="text/javascript">
       $("#ModalConfirm").modal({show: true});
</script>
{% endif %}
{% if isChangePassword %}
 <script type="text/javascript">
       $("#ChangePass").modal({show: true,backdrop: "static"})
</script>
{% endif %}
{% if isReady %}
 <script type="text/javascript">
       $("#ModalRejestracja").modal({show: true})
</script>
{% endif %}
{% if passwdchanged %}
 <script type="text/javascript">
       $("#ModalConfirmChangePassword").modal({show: true})
</script>
{% endif %}
{% if emailSendPwChange %}
<script type="text/javascript">
       $("#ModalEmailSendPwChange").modal({show: true})
</script>
{% endif %}
<script type="text/javascript">

	$(document).ready(function(){
      $("#menuSmallNav").hide();
   
	    $(".myBtn").click(function(){
	        $("#ModalRejestracja").modal();
	    });
      $("#remember").click(function(){
          $("#ModalRejestracja").modal("hide");
          $("#ModalRemember").modal();
      });
      $("#menuArrowNav").click(function(){
          $("#menuSmallNav").toggle("slow");
      });
	});


</script>
</body>
</html>
