{% load staticfiles %}
<html>
<head>
<title>SMS - Platforma szybkiego zarządzania uczniami !</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="shortcut icon" type="image/png" href="{% static '/images/favicon.ico' %}"/>
  <link rel="stylesheet" href="{% static '/smscss.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
{% block title %}{{ section.title }}{% endblock %}
</head>
<style>
	body {
	background: #efefef;
	color: black;

	}
	.welcome{

		background: #34495E;
		height :350px;
		text-align: center;
	}
	.welcome > .l-down >.label {
		background:#3399cc;
		font-size:50px;
		padding: 20px 20px 20px 20px;
		
	}
	.l-down{
		margin-top:20px;
	}
	.well{
		margin-top: -30px;
		width:50%;
	}
	.btn{
		font-size: 30px;
		font-weight: bold;
		
	}
</style>
<body>
	<div class="welcome">
		<div class="l-down">
		 <label class="label label-info" >Wybierz wersje aplikacji</label>
		</div>
		
	</div>
	<center><div class="well well-sm" ><b>Wybierz wersję aplikacji</b>
					<ol style="text-align: left;">
						<li><strong>Wersja podstawowa</strong> charakteryzuje się uproszczonym interfejsem i udostepnia podstawowe funkcjonalnosci </li>
						<li><strong>Wersja rozszerzona</strong> charakteryzuje się możliwością tworzenia własnych klas, algorytmów, baz danych uczniów i klas itd.</li>				
					</ol>
					</div>
	<button type="button" class="holzButton" style="width:300px" onclick="window.location.href='/SMS/simple'">Wersja Podstawowa</button>
	<button type="button" class="holzButton" style="width:300px" onclick="window.location.href='/SMS/extended'">Wersja Rozszerzona</button>
	</center>
</body>
</html>
