<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="shortcut icon" type="image/png" href="{% static '/images/favicon.ico' %}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <h3>SMS, przypomnienie hasła</h3>
   Email ten został wysłany w związku z rządaniem przypomnienia hasła dla konta<strong> **user** </strong>.</br>
   Aby zmienić hasło kliknij przycisk który nastepnie przekieruje Cie do naszej strony.</br>
   Oto twój kod potrzebny do zmiany hasła :<strong> **pass** </strong></br>
   Skopiuj podany kod a następnie wklej go w 3 pole formularza.
  <center><a style="padding:10px 10px; text-decoration: none;" class="btn btn-success" href="http://smsbeta.pythonanywhere.com/management/changepassword/" >Przypomnij hasło</a></center>
</body>
</html>
