{% extends "base.html" %}
{% load staticfiles %}
	{% block content %}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="{{itemCarousel.0}}">
      <div class="FirstImageCarousel">
      	<div class="mainContainerRegister">
			{% if not user.is_authenticated %} <!-- Dont draw if user is logged in -->

      		<div class="formRegister">
	      		<form method="POST" action='/' enctype='multipart/form-data' > 
					<div>
						{% csrf_token %}
						{% for field in instanceR %}
							{% if field.errors %}
							<div class="form-group has-error has-feedback">
								{{field.label_tag }}
									{{field}}	
										{% for error in field.errors %}
									   		<label class=" control-label" for="inputError">{{ error|escape }}</label>
									{% endfor %}
							{% else %}	
							<div class="form-group has-success has-feedback">
								{{field.label_tag }}
									{{field}}
							{% endif %}
							</br>											
							</div>
						{% endfor %}
						<input type="submit" class="holzButton" name="rejestracja" value="Załóż konto" />
					</div>
				</form>
      		</div>

			{% endif %}
      	</div>
      </div>
    </div>

    <div class="{{itemCarousel.1}}">
      <div class="SecondImageCarousel">
      	<div class="mainContainerMainSiteMobile">
      		Zarządzaj uczniami swojej szkoły, wydzielaj klasy, dobieraj kryteria rekrutacyjne
      		<br><br>Wszystko to szybko i za darmo dzięki SMS

      		<br><br><br>

      		<span style="text-align:left !important ;font-size: 12px;">
      		Zaloguj się do SMS,<br>a jeśli nie masz konta załóż je teraz 
      		</span>
      	</div>
      	<div class="mainContainerMainSite">
      		<span id="mainInfo">Zarządzaj uczniami swojej szkoły,<br>wydzielaj klasy,<br>dobieraj kryteria rekrutacyjne
      		<br><br>Wszystko to szybko i za darmo dzięki SMS</span>

      		<br><br><br>

      		<span id="addInfo" style="font-size: 22px;">
      		SMS (Student Management System) został stworzony przez<br>uczniów technikum informatycznego<br>na potrzeby
      		uczęszczanej wczesniej przez nich szkoły.
      		<br><br>Jako autorzy postanowiliśmy udostępnić aplikacje<br>za darmo dla wszystkich chętnych.
      		</span>
      	</div>
      	<!-- <div class="note">
      		SMS (Student Management System) został stworzony przez<br>uczniów technikum informatycznego na potrzeby
      		wspomnianej szkoły.
      		<br><br>Jako autorzy postanowiliśmy udostępnić aplikacje<br>za darmo dla wszystkich chętnych.
      	</div> -->
      </div>
    </div>

    <div class="{{itemCarousel.2}}">
      <div class="ThirdImageCarousel">
      	<div class="mainContainerContact">
      		<div class="formRegister">
				<div>
					<form method="POST" action="/">
					{% csrf_token %}
					{% for field in instanceC %}
						{% if field.errors %}
						<div class="form-group has-error has-feedback">
							{{field.label_tag }}
								{{field}}
								<span class="glyphicon glyphicon-remove form-control-feedback"></span>	
									{% for error in field.errors %}
								   		<label class=" control-label" for="inputError">{{ error|escape }}</label>
								{% endfor %}
						{% else %}	
						<div class="form-group has-success has-feedback">
							{{field.label_tag }}
								{{field}}
						{% endif %}											
						</div>
					{% endfor %}
						<input type="submit" class="holzButton" name="kontakt" value="Wyślij wiadomość"/>
				</form>	
			</div>
      	</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}	
