{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Wszyscy uczniowie</title>
		<link rel="stylesheet" href="{% static '/smscss.css' %}">
		<link rel="shortcut icon" type="image/png" href="{% static '/images/favicon.ico' %}"/>
	</head>
	<body>
		<center>
			<div style="border: white solid;width:500px ;height: 800px;overflow-y: auto;">
				<table style="width:483px;">
					<tr>
						<td>Edytuj</td>
						<td>Imię</td>
						<td>Nazwisko</td>
						<td>klasa</td>
					</tr>
					{% for student in allStudents %}
						<tr>
							<td><a href="edytujucznia/{{student.0}}">Edytuj</a></td>
							
								<td>{{ student.2 }}</td>
								<td>{{ student.3 }}</td>

								<!-- Checks if class isnt NULL -->
								{% if student.36 %} 
								<td>{{ student.36 }}</td>

								{% else %}
								<td>Brak</td>

								{% endif %}
							
						</tr>
					{% endfor %}
				</table>
			</div>
			<a href="/sms/extended/">Powrót</a>
		</center>
	</body>
</html>