<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="shortcut icon" type="image/png" href="{% static '/images/favicon.ico' %}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<h3>Witamy Cie w aplikacji</h3>
	Aplikacja SMS to narzędzie do prostego zarządzania klasami w Twojej szkole.</br>
	Email ten został wysłany ponieważ ktoś zarejestrował konto w naszym serwisie na twoje konto email.<br>
	Jeżeli to nie ty, zwyczjanie zignoruj te wiadomość.
	<br><br>
	Kliknij na przycisk aby aktyować konto
	<center><a style="padding:10px 10px; text-decoration: none;" class="btn btn-success" href="http://secmeant.pythonanywhere.com/management/activate/**activ**" >Aktywuj konto</a></center>
</body>
</html>
