{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Student Management System</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static '/smscss.css' %}">
		<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
		<link rel="shortcut icon" type="image/png" href="{% static '/images/favicon.ico' %}"/>
		<script type="text/javascript" src="{% static '/sameAddress.js' %}"></script>
		<script type="text/javascript" src="{% static '/SMSAdding.js' %}"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="//code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{% static '/modals.js' %}"></script>
	</head>
	<body>
		

		<div class ="smsExtMain">
			<div class ="topBar">
				<h2>{{ user.nazwaSzkoly }}</h2>
		  			{{ user.username }}

			</div>
			
			{% if messages %}
				<div id="error" class="error">
				{% for message in messages %}		
					<p>{{message}}</p>
				{% endfor %}
				</div>
			{% endif %}
		

			<!-- SRODKOWA CZESC SMS -->
			<div class="centerMenu">
				
				<!-- START ERROR letter 'z' BLOCK BOX -->
				{% if fillclassOF %}
					<div class="modal fade" id="classIndexOF" role="dialog">OVERFLOW
			    		<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header" style="padding:35px 50px;">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4><span class="glyphicon glyphicon-remove-sign"></span>NIESTETY  !</h4>
								</div>
								<div class="modal-body" style="padding:40px 50px;font-size: 18px;">

								Nie udało sie wypełnić klas ponieważ w trakcie operacji index klasy zajął już ostatnią literę 'Z'.<br>
								Prosimy stworzyć nową klasę i spróbować na nowo.<br><br>
								<b>WSZELKIE ZMIANY NIE ZOSTAŁY POCZYNIONE</b>

								</div>
							</div>
						</div>
					</div> 						
				{% endif %}
				<!-- END ERROR letter 'z' BLOCK BOX -->

				<!-- START ERROR COPY NAME EXISTS -->
				{% if resultMakeCopy == 2 %}
					<div class="modal fade" id="classIndexOF" role="dialog">Ups :(
			    		<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header" style="padding:35px 50px;">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4><span class="glyphicon glyphicon-remove-sign"></span>NIESTETY  !</h4>
								</div>
								<div class="modal-body" style="padding:40px 50px;font-size: 18px;">

								Nie udało sie stworzyc kopii bazy danych, ponieważ limit ilości kopii zapasowych został przekroczony<br>
								Sugerujemy usunąć jedną ze starych kopii i spróbować ponownie.<br><br>
								<b>WSZELKIE ZMIANY NIE ZOSTAŁY POCZYNIONE</b>

								</div>
							</div>
						</div>
					</div> 						
				{% endif %}
				<!-- END ERROR COPY NAME EXISTS -->

				<!-- START ERROR COPY NAME EXISTS -->
				{% if resultMakeCopy == 1 %}
					<div class="modal fade" id="classIndexOF" role="dialog">Ups :(
			    		<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header" style="padding:35px 50px;">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4><span class="glyphicon glyphicon-remove-sign"></span>NIESTETY  !</h4>
								</div>
								<div class="modal-body" style="padding:40px 50px;font-size: 18px;">

								Nie udało sie stworzyc kopii bazy danych, ponieważ podana nazwa jest już zajęta
								( kopia o takiej nazwie istnieje ).<br>
								Prosimy wpisać nową nazwę i spróbować ponownie.<br><br>
								<b>WSZELKIE ZMIANY NIE ZOSTAŁY POCZYNIONE</b>

								</div>
							</div>
						</div>
					</div> 						
				{% endif %}
				<!-- END ERROR COPY NAME EXISTS -->

				<div class="smsMainContentBox">
				{% if allStudents|length > 0 %}
						<div class="plate">
							<div class="uczniowieOuterDiv">
								<div class="uczniowieTop">
									<div>UCZNIOWIE</div>
								</div>
								<div class="uczniowieTop">
									<div>Edytuj</div>
									<div>Pesel</div>
									<div>Imię</div>
									<div>Nazwisko</div>
									<div>klasa</div>
								</div>
								<div class="uczniowieOuterTable">
									
										
									<div>
										<div class="innerUczniowieSection">
										{% for student in allStudents %}
											<div class="uczniowieSectionWrapper">
											<div><a href="edytujucznia/{{student.0}}">Edytuj</a></div>
											
											<!-- Checks if pesel isnt NULL -->
											{% if student.1 %}
											<div>{{ student.1 }}</div>
											{% else %}
											<div>Brak</div>
											{% endif %}
											

											<div>{{ student.2 }}</div>
											<div>{{ student.3 }}</div>

						
											<!-- Checks if class isnt NULL -->
											{% if student.36 %} 
											<div>{{ student.36 }}</div>

											{% else %}
											<div>Brak</div>

											{% endif %}
												
										</div>
										{% endfor %}
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endif %}

				{% if klasyPostfix|length > 0 %}
					<div class="plate" style="margin-left: 40px;">
						<div class="klasyTableWrapper">
								<div class="klasyTop">
									<p>Klasy</p>
								</div>

								<div class="innerKlasy">
									<table class="innerKlasyTable">
									{% for klasa in klasyPostfix %}
										{% if klasa != None%}

											<tr>
												<td class="tableNazwaKlasy">
												<a href="/sms/extended/klasa/{{klasa}}" target="_blank">
													{% if klasa|length > 16%}
														{{ klasa|slice:":16" }}...
													{% else %}
														{{ klasa }}
													{% endif %}
												</a>
												</td>
												<td class="tableIcon">
												<a id="saferRemoveClassButton" onclick="saferDeleteClass('{{klasa}}')">
													<div class="deleteClass">
														<span class="glyphicon glyphicon-trash"></span>
													</div>
												</a>
												</td>
											</tr>	
											
										{% endif %}	
									{% endfor %}
									</table>
								</div>
						</div>
					</div>
					{% endif %}

					
					
				</div>
			</div>
		</div>

		<div class="menuLeft">     

	 		<a href="/"><button class="holzButton">SMS</button></a>

			<a href="#" class="optionWypelnijKlase">
			<button class="holzButton"><span class="glyphicon glyphicon-equalizer"></span>Wypełnij Klasę</button>
			</a>

			<a href="#" class="optionDodajUcznia">
			<button class="holzButton"><span class="glyphicon glyphicon-user"></span>Uczniowie</button>
			</a>

			<a href="#" class="optionDodajAlgorytm">
			<button class="holzButton"><span class="glyphicon glyphicon-plus"></span>Algorytmy rekrutacyjne</button>
			</a>

			<a href="#" class="optionZrobKopie">
			<button class="holzButton"><span class="glyphicon glyphicon-floppy-saved"></span>Kopia zapasowa bazy danych</button>
			</a>

			<a href="#" class="optionAutomate">
			<button class="holzButton"><span class="glyphicon glyphicon-send"></span>Akcje zautomatyzowane</button>
			</a>

		</div>

													<!-- START WYPELNIJ KLASE MODAL BOX -->
		<div class="modal fade" id="wypelnijKlaseModal" role="dialog">
    		<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" style="padding:35px 50px;">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4><span class="glyphicon glyphicon-th-list"></span>Wypełnij klase</h4>
					</div>
					<div class="modal-body" style="padding:40px 50px;">

						<form method="POST" action='' enctype='multipart/form-data'> {% csrf_token %}
							

								<p><b>{{ formFillClass.nazwaKlasy.label }}</b> {{ formFillClass.nazwaKlasy }}</p>
								<p><b>{{ formFillClass.algorytmy.label }}</b> {{ formFillClass.algorytmy }}</p>
								<span><b>{{ formFillClass.sposob.label }}</b> {{ formFillClass.sposob }}

									<!-- Znak zapytania z informacja co daje optymalizuj -->
									<span id="info-sign-optymalizuj" class="glyphicon glyphicon-question-sign">
										<div id="info-optymalizuj">
											<p>Ta opcja pozwala na automatyczne znalezienie<br>
											optymalnej wielkości klasy, w granicach podanej wielkości
											tak żeby każda miała równą liczbę uczniów</p>
										</div>
									</span>
								</span>
								<br>
								<p><b>{{formFillClass.wielkosc.label}}: </b>{{formFillClass.wielkosc}}</p>
								<p><b>{{formFillClass.limit.label}}: </b>{{formFillClass.limit}}</p>
								<br>

							<input style="margin-top: 10px;" type="submit" class="holzButtonSmall" name="fillClass" value="Zatwierdź"/>
						</form>
						<div class="fillClassInfo">
							<span id="info-sign-fillclass" class="glyphicon glyphicon-question-sign">
								<div id="info-fillclass">
									<p>
										Ta funkcjonalność pozwala na wypełnienie istenijącego szablonu klasy
										uczniami którzy nie należa jeszcze do żadnej klasy.
										Uczniowie będą przydzielani do kolejnych klas od malejąco
										według wyników obliczonych na podstawie wag podanych do algorytmu ktory jest przypisany do klasy
									</p>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div> 
													<!-- END WYPELNIJ KLASE MODAL BOX -->

													<!-- START CZY CHCESZ USUNĄĆ KLASĘ MODAL BOX -->
		<div class="modal fade wide" id="saferDeleteClassModal" role="dialog">
    		<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header" style="padding:35px 50px;">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4><span class="glyphicon glyphicon-remove-circle"></span>JESTEŚ PEWNY ?</h4>
					</div>
					<div class="modal-body modal-body-custom-delete-class" style="padding:40px 50px;">
							<p id="paragraphSafeDeleteClass">Potwierdzenie tej akcji spowoduję bezpowrotne usunięcie klasy </p>

							<button data-delete="" class="holzButtonSmall" id="btn-safe-delete-class-yes">
								Tak, usuń tę klasę
							</button>

							<button class="holzButtonSmall" id="btn-safe-delete-class-no"> 
								Nie, cofnij zmiany
							</button>
					
					</div>
				</div>
			</div>
		</div> 
													<!-- END CZY CHCESZ USUNĄĆ KLASĘ MODAL BOX -->

													<!-- START ZROB KOPIE MODAL BOX -->
		<div class="modal fade wide" id="zrobKopieModal" role="dialog">
    		<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header" style="padding:35px 50px;">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4><span class="glyphicon glyphicon-floppy-saved"></span>Kopia zapasowa bazy danych</h4>
					</div>
					<div class="modal-body modal-body-custom" style="padding:40px 50px;">

					<div class="outerKopieIstniejace">
						<div class="kopiaTop">
							<p>Istniejące kopie zapasowe</p>
						</div>
						<div class="innerKopia">
							<ul>
							{% for copy in dbCopies %}

									<li style="font-size: 22px">{{ copy }}</li>	
									
							{% endfor %}
							</ul>
						</div>

					</div>

					<div class="outerIleKopii">
						Ilość możliwych kopii: {{copyCount}}
					</div>

					<div class="outerDodajKopie">
						<form method="POST" action='' enctype='multipart/form-data'> {% csrf_token %}
							{{formRemoveCopy.as_p}}
							<button id="saferRemoveCopyButton" type="button" class="holzButtonSmall">Usuń</button>
							<button id="finalRemoveCopyButton" type="submit" class="holzButtonSmall hidden" name="removeCopy"></button>
						</form>
					</div>

					<div class="outerDodajKopie">
						<form method="POST" action='' enctype='multipart/form-data'> {% csrf_token %}
							{{formMakeCopy.as_p}}
							<button type="submit" class="holzButtonSmall" name="makeCopy">Stwórz</button>
						</form>
					</div>

					<div class="outerDodajKopie">
						<form method="POST" action='' enctype='multipart/form-data'> {% csrf_token %}
							{{formRestoreCopy.as_p}}
							<button id="saferRestoreCopyButton" type="button" class="holzButtonSmall">Przywróć</button>
							<button id="finalRestoreCopyButton" type="submit" class="holzButtonSmall hidden" name="restoreCopy"></button>
						</form>
					</div>

					</div>
				</div>
			</div>
		</div> 
													<!-- END ZROB KOPIE MODAL BOX -->


													<!-- START DODAJ UCZNIA MODAL BOX -->
		<div class="modal fade" id="dodajUczniaModal" role="dialog">
    		<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" style="padding:35px 50px;">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4><span class="glyphicon glyphicon-user"></span>DODAWANIE UCZNIA</h4>
					</div>
					<div class="modal-body" style="padding:40px 50px;">
						<form method="POST" action='' enctype='multipart/form-data'> {% csrf_token %}

								<div class="formAddStudent">
									
									<div class="labelform"><div class="innerLabel">Imie:</div><div class="innerInput">{{formAddStudent.imie}}</div></div>
									<div class="labelform"><div class="innerLabel">Nazwisko:</div><div class="innerInput">{{formAddStudent.nazwisko}}</div></div>
									<div class="labelform"><div class="innerLabel">Pesel:</div><div class="innerInput">{{formAddStudent.pesel}}</div></div>

									<div class="labelform">
										<div class="innerLabel">Adres zamieszkania:</div>{{formAddStudent.kod1}}- {{formAddStudent.kod2}}{{formAddStudent.miejscowosc}}
									</div>

									<div class="labelform innerInput ulicadom">
										{{formAddStudent.ulica}}
										{{formAddStudent.nrbudynku}}
										{{formAddStudent.nrmieszkania}}
									</div>

									<div class="innerLabel">
									<br>
											<button class="holzButtonSmall" onclick="sameAddress()" type="button">Przepisz</button>
									</div>

									<div class="labelform">
									<br>
										<div class="innerLabel">Adres zameldowania:</div>{{formAddStudent.kod12}}- {{formAddStudent.kod22}}{{formAddStudent.miejscowosc2}}
									</div>

									<div class="labelform innerInput ulicadom">
										{{formAddStudent.ulica2}}
										{{formAddStudent.nrbudynku2}}
										{{formAddStudent.nrmieszkania2}}
									</div>

									<div class="labelform">
										<br>
										<br>
										<div class="innerLabel">Ocena Angielski:</div>{{formAddStudent.ocenAng}}
									</div>

									<div class="labelform">
										<div class="innerLabel">Ocena Niemiecki:</div>{{formAddStudent.ocenNiem}}
									</div>

									<div class="labelform">
										<div class="innerLabel">Ocena Polski:</div>{{formAddStudent.ocenPol}}
									</div>

									<div class="labelform">
										<div class="innerLabel">Ocena Matematyka:</div>{{formAddStudent.ocenMat}}
									</div>
								</div>

								<input type="submit" class="holzButtonSmall pull-right" name="addStudent" value="Zatwierdź"/>
								<br>
								<hr>


							


						</form>

								<div class="importFile">

									<p class="text-center">IMPORTUJ UCZNIOW Z PLIKU CSV</p>

									<form method="post" enctype="multipart/form-data"> {% csrf_token %}
										<input type="file" name="studentFile" />
										<input type="submit" name="studentFile" value="Wyślij" />
									</form>

									<div class="addStudentInfo">
										<span id="info-sign-addStudent" class="glyphicon glyphicon-question-sign">
											<div id="info-addStudent">
												<p>
													Ta funkcjonalność pozwala na import danych na temat wielu uczniow
													na raz z pliku csv. Pamiętać należy natomiast, że aby uczniowie zostali
													poprawnie znalezieni trzeba zadbać o odpowiednie nazwy kolumn oraz ich układ.
													Nagłówki kolumn powinny znajdować sie w pierwszym wierszu pliku csv a dane zaraz pod nimi.
													Ponadto kolumny muszą mieć dokładnie takie nagłowki jakie zostały podane w panelu "nagłowki csv"
												</p>
											</div>
										</span>
									</div>

								</div>
					
					</div>
				</div>
			</div>
		</div> 
													<!-- END DODAJ UCZNIA MODAL BOX -->

													<!-- START DODAJ PROFIL MODAL BOX -->
		<div class="modal fade" id="dodajProfilModal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" style="padding:35px 50px;">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4><span class="glyphicon glyphicon-th-list"></span>TWORZENIE PROFILU</h4>
					</div>
					<div class="modal-body" style="padding:40px 50px;">

						<form method="POST" action='' enctype='multipart/form-data' class="menuForms"> {% csrf_token %}

						{% for field in formAddProfile %}
							<div class="labelform">
								<div class="innerLabel">{{field.label}}: </div>{{field}}
							</div>
						{% endfor %}
								
							<input style="margin-left: 380px;margin-top: 20px;" type="submit" class="holzButtonSmall" name="addProfile" value="Zatwierdź"/>
						</form>

						<hr/>

						<form method="POST" action='' enctype='multipart/form-data' class="menuForms"> {% csrf_token %}

								{{formRemoveProfile.as_p}}
							
							<input style="margin-left: 380px;" type="submit" class="holzButtonSmall" name="removeProfile" value="Zatwierdź"/>
						</form>

					</div>
				</div>
			</div>
		</div> 
													<!-- END DODAJ PROFILE MODAL BOX -->

													<!-- START DODAJ ALGORYTM MODAL BOX -->
		<div class="modal fade" id="dodajAlgorytmModal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" style="padding:35px 50px;">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4><span class="glyphicon glyphicon-th-list"></span>TWORZENIE ALGORYTMU</h4>
					</div>
					<div class="modal-body" style="padding:40px 50px;">

						<form method="POST" action='' enctype='multipart/form-data' class="menuForms"> {% csrf_token %}

						{% for field in formAddAlgorithm %}
							<div class="labelform">
								<div class="innerLabel">{{field.label}}: </div>{{field}}
							</div>
						{% endfor %}
								
							<input style="margin-left: 380px;" type="submit" class="holzButtonSmall" name="addAlgorithm" value="Zatwierdź"/>
						</form>
						
							<hr/>

							<form method="POST" action='' enctype='multipart/form-data' class="menuForms"> {% csrf_token %}

								{{formRemoveAlgorithm.as_p}}
								

							<input style="margin-left: 380px;" type="submit" class="holzButtonSmall" name="removeAlgorithm" value="Zatwierdź"/>

						</form>
					</div>
				</div>
			</div>
		</div> 
													<!-- END DODAJ ALGORYTM MODAL BOX -->

													<!-- START AKCJE ZAUTOMATYZOWANE MODAL BOX -->
		<div class="modal fade wide" id="automateModal" role="dialog">
    		<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header" style="padding:35px 50px;">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4><span class="glyphicon glyphicon-send"></span>AKCJE ZAUTOMATYZOWANE</h4>
					</div>
					<div class="modal-body modal-body-custom-delete-class" style="padding:40px 50px;">
						
						<form method="POST" action='' enctype='multipart/form-data'> {% csrf_token %}
							Akcja: {{formAutomateAction.action}}<br>
							dotyczy uczniów z klasy: {{formAutomateAction.reference}}<br><br> 
							<button id="saferAutomateActionButton" type="button" class="holzButtonSmall">Wykonaj</button>
							<button id="finalAutomateActionButton" type="submit" class="holzButtonSmall hidden" name="autoAction"></button>
						</form>
					</div>
				</div>
			</div>
		</div> 
													<!-- END AKCJE ZAUTOMATYZOWANE MODAL BOX -->
	</body>
</html>
