{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Student Management System</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static '/smscss.css' %}">
		<link rel="shortcut icon" type="image/png" href="{% static '/images/favicon.ico' %}"/>
		<script src="{% static '/sameAddress.js' %}"></script>
		<script type="text/javascript" src="{% static '/SMSAdding.js' %}"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="{% static '/dragAndDrop.js' %}"></script>
		
	</head>
	<body>
	<br/>
		<br/>
		<dir class="row">
		<div class ="col-sm-2 menuLeft">
			<div id="SMS-menu" class="navbar navbar-default" style="display: inline-block;" role="navigation">
		   	  <div class="container ">
			      
			      <div class="collapse navbar-collapse navbar-menubuilder pull-left">
			         <ul class="nav navbar-nav navbar-left">

			         	<div class="navbar-header"><a class="navbar-brand btn btn-primary" style=" margin-left:0px;width: 300px" href="/">SMS</a></div>

							<p><li><a href="#" class="optionDodajKlase">
							<span class="glyphicon glyphicon-plus"></span> Dodaj klase
							</a></li></p>


							<p><li><a href="#" class="optionDodajUcznia">
							<span class="glyphicon glyphicon-user"></span> Dodaj ucznia
							</a></li></p>

							<p><li><a href="#" class="optionDodajProfil">
							<span class="glyphicon glyphicon-star"></span> Unuń wszystkich
							</a></li></p>


			         </ul>
			        </div>
			    </div>
			</div>
		</div>
		<div class ="col-sm-8">
			<div class ="topBar">
				<h2>{{ user.get_full_name }}</h2>
					<ul>
		  			<li>Username: {{ user.username }}</li>
					</ul>

			</div>
			<hr class="style-four"></hr>
			{% if same %}
				<div class="alert alert-danger pull-left">
						<strong>Powtórzenie!</strong> Już stworzyłes profil o takiej nazwie lub skrócie.
				</div>
			{% endif %}

			<!-- SRODKOWA CZESC SMS -->
				<div class="row centerMenu">
					<center>
						<a href="/sms/extended/wszyscyuczniowie"><div class="showAllStudents centerOption">WSZYSCY UCZNIOWIE</div></a>
						<a href="/sms/extended/uczniowieprzydzieleni"><div class="showStudentWithClass centerOption">UCZNIOWIE PRZYDZIELENI DO KLASY</div></a>
						<a href="/sms/extended/uczniowienieprzydzieleni"><div class="showStudentWithNoClass centerOption">UCZNIOWIE NIEPRZYDZIELENI DO KLASY</div></a>
					</center>
					{% if proflie_druk|length > 0 %}
						
						<div class="klasyTop">
							<p>Klasy</p>
						</div>

						<div class="innerKlasy">

							<ul>
								{% for profil in proflie_druk %}

								<li><a href="/sms/simple/{{profil}}">{{ profil }}</a></li>

								{% endfor %}
							</ul>

						</div>
						
					{% endif %}
				</div>
				
			<!-- LEFT CONTAINER -->
			<div class="col-md-12">
				{% for uczen in uczniowie %}
				{{ uczen }}
				<br>
				{% endfor %}
				
			</div> 


		</div>
	</div>
		
		
													<!-- START DODAJ KLASE MODAL BOX -->
		<div class="modal fade" id="dodajKlaseModal" role="dialog">
    		<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" style="padding:35px 50px;">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4><span class="glyphicon glyphicon-th-list"></span>TWORZENIE KLASY</h4>
					</div>
					<div class="modal-body" style="padding:40px 50px;">
					<!-- carusel start -->
						<div id="StepsToAdd" class="carousel slide" data-ride="carousel">
						  <!-- Indicators -->
						  <ol class="carousel-indicators">
						    <li data-target="#StepsToAdd" data-slide-to="0" class="active"></li>
						    <li data-target="#StepsToAdd" data-slide-to="1"></li>
						    <li data-target="#StepsToAdd" data-slide-to="2"></li>
						  </ol>

						  <!-- Wrapper for slides -->
						  <div class="carousel-inner">

						    <div class="item active">
						      <h3>Nazwa prfilu dla twojej klasy :</h3>
						      <form method="post" enctype="multipart/form-data" onsubmit="CpySUB()"> {% csrf_token %}
						      <div class="form-group has-error has-feedback">
						      	{{formProfil.profil}}
						      	{{formProfil.wielkosc}}
						      	{% if formProfil.profil.errors %}
						      		
								   	   <label class=" control-label" for="inputError">{{ formProfil.profil.errors.0 }}</label>
									
						      	{% endif %}
						      	</br>
						      	{{formProfil.stala_wielkosc}}{{formProfil.stala_wielkosc.label_tag}}
						      </div>
						      
						      <div class="btn-group btn-group-justified btn-down well">
							   <button class="btn-sm btn-info disabled " name="idprev" disabled="true" href="#StepsToAdd" role="button" data-slide="prev" style="margin-right: 60%">Poprzednie</button>
							   <button class="btn-sm btn-primary " name="idnext" href="#StepsToAdd" role="button" data-slide="next">Następne</button>
							 </div>
						    </div>

						    <div class="item">
						    <div id="Subjects" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
						    {{formProfil.przedmioty}}
						    {{formProfil.CopySubjects}}
						    
						      <div class="btn-group btn-group-justified btn-down well">
							   <button class="btn-sm btn-info " name="idprev"  href="#StepsToAdd" role="button" data-slide="prev" style="margin-right: 60%">Poprzednie</button>
							   <button class="btn-sm btn-primary " name="idnext" href="#StepsToAdd" role="button" data-slide="next">Następne</button>
							 </div>
						    </div>

						    <div class="item">
						    	Wybierz plik csv z odpowiednia klasa:
						    	{{formProfil.studentFile}}
								{{formProfil.copystuff}}
						      <div class="btn-group btn-group-justified btn-down well">
							   <button class="btn-sm btn-info " name="idprev"  href="#StepsToAdd" role="button" data-slide="prev" style="margin-right: 60%">Poprzednie</button>
							   <input class="btn-sm btn-primary" name="importFile" type ="submit" value="Zatwierdź">
							   </form>
							 </div>
						    </div>
						  </div>

						  <!-- Left and right controls -->

						</div>
					</div>
					<!-- end of carusel -->
				</div>
			</div>
		</div> 
													<!-- END DODAJ KLASE MODAL BOX -->



													<!-- START DODAJ UCZNIA MODAL BOX -->
		<div class="modal fade" id="dodajUczniaModal" role="dialog">
    		<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" style="padding:35px 50px;">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4><span class="glyphicon glyphicon-user"></span>DODAWANIE UCZNIA</h4>
					</div>
					<div class="modal-body" style="padding:40px 50px;">
						<form method="POST" action='' enctype='multipart/form-data'> {% csrf_token %}

								<div class="formAddStudent">
									
									<div class="labelform"><div class="innerLabel">Imie:</div><div class="innerInput">{{formAddStudent.imie}}</div></div>
									<div class="labelform"><div class="innerLabel">Nazwisko:</div><div class="innerInput">{{formAddStudent.nazwisko}}</div></div>

									<div class="labelform">
										<div class="innerLabel">Adres zamieszkania:</div>{{formAddStudent.kod1}}- {{formAddStudent.kod2}}{{formAddStudent.miejscowosc}}
									</div>

									<div class="labelform innerInput ulicadom">
										{{formAddStudent.ulica}}
										{{formAddStudent.nrbudynku}}
										{{formAddStudent.nrmieszkania}}
									</div>

									<div class="innerLabel">
										<br><br>
											<button onclick="sameAddress()" type="button">Przepisz</button>
									</div>

									<div class="labelform">
										<br>
										<br>
										<div class="innerLabel">Adres zameldowania:</div>{{formAddStudent.kod12}}- {{formAddStudent.kod22}}{{formAddStudent.miejscowosc2}}
									</div>

									<div class="labelform innerInput ulicadom">
										{{formAddStudent.ulica2}}
										{{formAddStudent.nrbudynku2}}
										{{formAddStudent.nrmieszkania2}}
									</div>

									<div class="labelform">
										<br>
										<br>
										<div class="innerLabel">Ocena Angielski:</div>{{formAddStudent.ocenAng}}
									</div>

									<div class="labelform">
										<div class="innerLabel">Ocena Niemiecki:</div>{{formAddStudent.ocenNiem}}
									</div>

									<div class="labelform">
										<div class="innerLabel">Ocena Polski:</div>{{formAddStudent.ocenPol}}
									</div>

									<div class="labelform">
										<div class="innerLabel">Ocena Matematyka:</div>{{formAddStudent.ocenMat}}
									</div>
								</div>

								<hr><br/>


							<input type="submit" class="btn btn-default pull-right" name="addStudent" value="Zatwierdź"/>


						</form>

					
					</div>
				</div>
			</div>
		</div> 
													<!-- END DODAJ UCZNIA MODAL BOX -->

													
<script type="text/javascript">
	staffTaken=Array();
	k =0;

	$(document).ready(function(){

		$(".optionDodajKlase").click(function(){
			$("#dodajKlaseModal").modal();
		});

		$(".optionDodajProfil").click(function(){
			$("#dodajProfilModal").modal();
		});

		$(".optionDodajUcznia").click(function(){
			$("#dodajUczniaModal").modal();
		});

		$("#StepsToAdd").carousel({interval: false, wrap: false});
		
		$('#subject').change(function(){
			
    		 if(this.value !='s' && not_In(this.value, staffTaken) )
    		 {
    		 	var element1 = document.createElement("input");
    		 	
    		 	element1.value =this.value;
    		 	element1.setAttribute("id","smp"+k);
    		 	element1.setAttribute("class","element");
    		 	element1.setAttribute("name","przedmiotyy");
    		 	element1.setAttribute("draggable","true");
    		 	element1.setAttribute("readonly","readonly");
    		 	element1.setAttribute("ondragstart","drag(event)");
    		 	staffTaken.push(this.value);
    		 	document.getElementById("Subjects").appendChild(element1);
    		 	k++;
    		 }
		});
	});


	
</script>
	</body>
</html>