{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Klasa {{klasa}}</title>
		<link rel="stylesheet" href="{% static '/studentsShow.css' %}">
		<link rel="shortcut icon" type="image/png" href="{% static '/images/favicon.ico' %}"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="//code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
		<style type="text/css">
			table td{
				border: 1px solid black;
				color:black;
				padding: 2px;
			}
			{% if szczegoly and szczegoly != '0' %}
			#buttonDrukuj:hover{
				cursor:no-drop;
			}
			{% endif %}
		</style>
	</head>
	<body>
		{% if szczegoly and szczegoly != '0' %}
		<table class="innerKlasyTable">
			<tr><td style="text-align: center;" colspan="{{headerWidth}}">{{klasa}}</td></tr>
			<tr>
				<td>Usuń</td>
				{% for every in headerTable %}
					<td>{{ every }}</td>
				{% endfor %}
			</tr>
			{% for student in allStudents %}
				<tr>
					<td><a href="../usunucznia/{{student.0}}" style="text-decoration: none;">Usuń</a></td>
					{% for info in student%}
						<td>{{ info }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</table>
		<div id="info-optymalizuj">
			<p>Ta opcja dostępna jest tylko w trybie bez szczegołów</p>
		</div>
		<div class="options">
			<button id="buttonDrukuj" class="holzButtonSmall" style="margin-bottom:20px;">Drukuj</button>
			<a href="{{klasa}}?szczegoly=0"><button class="holzButtonSmall">Schowaj szczegóły</button></a>
		</div>
		{% else %}
			<center>
				

				<table class="innerKlasyTable">
					<tr><td style="text-align: center;" colspan="{{headerWidth}}">{{klasa}}</td></tr>
					<tr>
						<td>Usuń</td>
						<td>Pesel</td>
						<td>Imię</td>
						<td>Nazwisko</td>
						<td>klasa</td>
					</tr>
					{% for student in allStudents %}
						<tr>
							<td><a href="../usunucznia/{{student.0}}" style="text-decoration: none;">Usuń</a></td>
							
							<!-- Checks if pesel isnt NULL -->
							{% if student.1 %}
							<td>{{ student.1 }}</td>
							{% else %}
							<td>Brak</td>
							{% endif %}
							

							<td>{{ student.2 }}</td>
							<td>{{ student.3 }}</td>

		
							<!-- Checks if class isnt NULL -->
							{% if student.36 %} 
							<td>{{ student.36 }}</td>

							{% else %}
							<td>Brak</td>

							{% endif %}

						</tr>
					{% endfor %}
				</table>
			</center>		

		<div class="options">
			<button id="buttonDrukuj" class="holzButtonSmall" style="margin-bottom:20px;" onclick="customPrint()">
				Drukuj
			</button>

			<a href="{{klasa}}?szczegoly=1">
				<button class="holzButtonSmall">
					Pokaż szczegóły
				</button>
			</a>
		</div>
		{% endif %}

		
	</body>
	<script type="text/javascript">
		$("#buttonDrukuj").mouseenter(function(){
			$("#info-optymalizuj").stop();
			$("#info-optymalizuj").clearQueue();
			$("#info-optymalizuj").fadeIn("slow", function(){
				$("#info-optymalizuj").css({
					"display" : "block",
					"opacity" : "1",
				})
			});
		});
		$("#buttonDrukuj").mouseout(function(){
			$("#info-optymalizuj").stop();
			$("#info-optymalizuj").clearQueue();
			$("#info-optymalizuj").fadeOut("slow", function(){});
		});
		function customPrint(){
			$(".options").hide();
			window.print();
			setTimeout(function(){}, 3000);
			$(".options").show();
			
		}
	</script>
</html>
