{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Uczniowie przydzieleni do klasy</title>
	<link rel="stylesheet" href="{% static '/smscss.css' %}">
	<link rel="shortcut icon" type="image/png" href="{% static '/images/favicon.ico' %}"/>
</head>
<body>
	
		{% for class in classes %}
			<table>
			<tr>
				{% for every in headerTable %}
					<td>{{ every }}</td>
				{% endfor %}
			</tr>
			<tr>
				{% if class.0.35 %}
					<td colspan="{{headerTable|length}}"><center>{{ class.0.36 }}, Wielkosc:{{ class|length }}</center></td>
				{% endif %}
			</tr>
			<tr>
				{% for student in class %}
					<tr>
						{% for info in student %}
							<td>{{ info }}</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tr>
			</table>
		{% endfor %}
	
</body>
</html>